NEXT_PUBLIC_SUPABASE_URL="https://wpkyiaaweofbszeylffm.supabase.co/rest/v1/"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indwa3lpYWF3ZW9mYnN6ZXlsZmZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NTExOTAsImV4cCI6MjEwNDUyNzE5MH0.8IKFrYE4p6r0nwiMkQq7LquWOsuppGZEfTuREDWb4d4"
